.table_container {
    height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid lightgray;
}

.table {
    border: 2px solid #eee;
    width: 100%;
    padding: 10px;
    height: 100%;
}

.thead {
    background: #efefef;
}

.th_checkbox {
    width: 20px;
}

.th_header {
    width: 200px;
    padding: 5px;
    border: 1px solid #dddddd;
}

.tbody {
    position: relative;
}

.tbody_line {
    position: absolute;
    top: 0;
    align-items: center;
}

.td_header {
    width: 20px;
    border: 1px solid #dddddd;
}
